@import "../valo/valo.scss";

@mixin myStyle {
  @include valo;

  .mystyle {
    border: thin dashed;
    background: darkkhaki;
    color: darkred;
  }

  .mystyle:hover {
    background-color: yellow;
  }

  .backgroundimage {
    background: url("asphalt-auto-automobile-226460.jpg") no-repeat center center fixed !important;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }

}